* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-color: rgb(6, 3, 3);
    padding: 1px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  nav {
    float: left;
    width: 30%;
    height: 480px; 
    font-size: 20px;
    background: rgb(231, 230, 195);
    padding: 25px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #dfcd9b;
    height: 480px; 
  }
  
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  footer {
    background-color: rgb(7, 5, 5);
    padding: 10px;
    text-align: center;
    color: white;
  }

  a:hover {
    background-color: rgb(237, 235, 102);
    color:black;
  }

  .TButton {
    position: absolute;
    right: 2%;
    top: 3%;
    padding: 8px;
    width: 12%;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;
   }

   .TButton:hover {
    background-color: #bbb;
   }

  