<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../static/style.css">
     <title>Manager Panel - Home Page</title>   
</head>
<body>
     <div class="header">
          <h2>Manager Panel - Home Page</h2>
          <form action="/manager/manage_home" method="POST">
               <input type="text" name="message" placeholder="write a message" autofocus>
               <input type="submit" value="Add Message" class="IButton">      
               <a href="/manage_home/delete_messages"><button type="button" class="RButton">Delete Messages</button></a>   
          </form>        
          <a href="/manager"><button type="button" class="TButton">Back</button></a>
     </div>     
     <ul>          
          {% for id, message in messages %}       
               <div>
               <form action="/manage_home/delete_message" method="POST">    
                    <a class="bold">Message {{id}}:</a><br>
                    <a>{{message}}</a>
                    <input type="hidden" name="message_id" value="{{id}}">
                    <input type="submit" value="&#215;" class="close">
               </form>
               </div>        
          {% endfor %}                                               
     </ul>
</body>
</html>

