<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleh.css">
    <title>Manager Panel</title>
</head>
<body>
    <h1>Manager Panel</h1>
    <div>
      <a href="/manager/manage_users"><button type="button">Users</button></a><br>
      <a href="/manager/manage_students"><button type="button">Students</button></a><br>
      <a href="/manager/manage_courses"><button type="button">Courses</button></a><br>
      <a href="/logout"><button type="button">Logout</button></a> 
    </div>
</body>
</html>